      - name: {{NAME}}
        bundleVersion: {{BUNDLE_VERSION}}
        channel: {{CHANNEL}}
        packageChannel: {{PACKAGE_CHANNEL}}
        expectedSha256: {{EXPECTED_SHA256}}
        testCommand: |
          {{TEST_COMMAND}}
